
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image : url("grey background.jpg") !important;
  }

.header {
    border-bottom: 3px solid grey;
    margin-bottom: 35px;
    color: white;
}

.row {
    flex-wrap: wrap;
    display: flex;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

h1 {
    float: left;
    background-color: #59AAA5;
    color: white;
    font-size: 55px;
    text-align: center;
    font-family: Georgia;
    margin-left: 10;
    padding: 20px;
}
.navbar {
    text-align: right;
    margin-top: 20px;
    color: grey !important;  
    background: white;
}



#TiffanyPicture {
    margin: 15px 15px 15px 15px;
    float: left;
}

#aboutmebox {
    float: left;
}

.card {
    padding-top: 20px;
    justify-content: space-evenly;
}

p {
    text-align: left;
    padding-left: 20px;
    color: grey;
}

hr {
    margin-top: 30px !important;
    margin-bottom: 35px !important;
    border-top: 2px solid lightgrey !important;
  }

h2{
    font-family: Georgia;
    color: #59AAA5;
    font-weight: bold;
}

button {
    background-color: #59AAA5 !important;
    color: white !important;
    border-color:  #59AAA5 !important;
    border-radius: 0 !important;
    padding: 5px 35px !important;
}

footer {
    border-top: 10px solid #59AAA5;
    position: fixed;
    text-align: center;
    color: white;
    background-color: #666666;
    left: 0;
    bottom: 0;
    padding: 50px;
    min-width:100%;
    max-width:100%;
}
