
/*--Basic Element Styles*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    background-image: url("grey\ background.jpg");
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: grey;
  }

/*--Navigation*/


.navbar-brand {
    float: left;
    background-color: #59AAA5;
    color: white !important;
    font-size: 40px !important;
    margin: 0 !important;
    padding: 20px !important;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    border-bottom: 1px solid lightgrey;
    padding: 0!important;
    padding-left: 40px !important;
}

.nav-item {
    font-size: 20px;
    border-right: 1px solid lightgrey;
}

.nav-item:last-child {
    border-right: none;
}

#navbarNavAltMarkup {
    background-color: white !important;
    padding: 27px;
}

/*--Main Element Styles*/

button {
    background-color: #59AAA5 !important;
    color: white !important;
    border-color:  #59AAA5 !important;
    border-radius: 0 !important;
    padding: 5px 35px !important;
}

h1 {
    padding-top: 15px;
    font-family: Georgia;
    color: #59AAA5;
    font-weight: bold;
}

hr {
    margin-top: 30px !important;
    margin-bottom: 35px !important;
    border-top: 2px solid lightgrey !important;
    width: 90%;
}

p {
    color: grey;
    line-height: 35px;
}

#TiffanyPicture {
    margin: 15px 25px 15px 15px;
    float: left;
}

#aboutmebox {
    float: left;
}

.card {
    padding-top: 20px;
    justify-content: space-evenly;
}

button {
    background-color: #59AAA5 !important;
    color: white !important;
    border-color:  #59AAA5 !important;
    border-radius: 0 !important;
    padding: 5px 35px !important;
}

/*--Footer Styles*/

footer {
    border-top: 10px solid #59AAA5;
    position: fixed;
    text-align: center;
    color: white;
    background-color: #666666;
    left: 0;
    bottom: 0;
    padding: 50px;
    min-width:100%;
    max-width:100%;
}

/*--Layout Containers-header*/

.container {
    width: 80%;
    margin: 0 auto;
}

/*--Media Queries*/


@media only screen and (min-width: 30cm) {
    nav {
        display: flex;
        justify-content: space-between;
    }
    nav ul {
        display: flex;
    }

.navbar-collapse {
    flex-basis: 100%;
}